<div class="collapse" id="feedback_panel">
    <h2>Results</h2>

    <%= render 'feedback_role', locals: {meeting: @meeting, title:'Prepared speakers', role: 'Prepared speaker'} %>
    <%= render 'feedback_role', locals: {meeting: @meeting, title:'Table topic speakers', role: 'Table topic speaker'} %>
    <%= render 'feedback_role', locals: {meeting: @meeting, title:'Evaluators', role: 'Evaluator'} %>

    <h3> General feedback</h3>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Feedback notes</th>
            <tr>
            </thead>
            <tbody>
                <% @meeting.feedback_notes.order('member_id').each do |rp| %>
                    <tr>
                        <td><%= rp.member.name %></td>
                        <td><%= rp.note %></td>
                    </tr>
                <% end %>
                <% @meeting.vote_results.order('speaker_id').each do |rp| %>
                    <tr>
                        <td><%= rp.speaker.name %></td>
                        <td><%= rp.note %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<div>