<p id="notice"><%= notice %></p>

<%= form_with(model: @meeting, :url => {:action => 'vote', :id =>@meeting.id}, :html => {:method => "post"}, local: true) do |form| %>
  
  <h4>Meeting date: <%= @meeting.start_date %></h4> 

  <div class='vote-panel'>
    <span class='label-text'>Voter id</span> 
    <%= text_field_tag 'voter_id' %> 
    <%= label_tag nil, nil,{id: 'voter_id_msg'} %>
  </div>  

  <p/>
  <%= render 'vote_panel', locals: {title: 'Prepared speakers',role: 'Prepared speaker',meeting: @meeting} %>

  <%= render 'vote_panel', locals: {title: 'Table topic speakers',role: 'Table topic speaker',meeting: @meeting} %>

  <%= render 'vote_panel', locals: {title: 'Evaluators',role: 'Evaluator',meeting: @meeting} %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">General Feedback</h3>
    </div>
    <div class="panel-body">
      <%= text_area_tag 'feedback' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "Vote"%>
  </div>
<% end %>