<p id="notice"><%= notice %></p>

<h1>Meeting</h1>

<b>Start date</b>
<%= @meeting.start_date %>

<%= form_with(model: @meeting, :url => {:action => 'vote', :id =>@meeting.id}, :html => {:method => "post"}, local: true) do |form| %>
  <h3>Voter</h3>
  <%= form.collection_select(:member_id, Member.all.order(:name), :id, :name, {}, {:class => 'selectpicker', 'data-live-search' => 'true', 'title' =>"Choose one of the following..."}) %>

  <p/>
  <%= render 'vote_panel', locals: {title: 'Prepared speakers',role: 'Prepared speaker',meeting: @meeting} %>

  <%= render 'vote_panel', locals: {title: 'Table topic speakers',role: 'Table topic speaker',meeting: @meeting} %>

  <%= render 'vote_panel', locals: {title: 'Evaluators',role: 'Evaluator',meeting: @meeting} %>

  <h3>General Feedback</h3>
  <%= text_area_tag 'feedback' %>

  <div class="actions">
    <%= form.submit "Vote"%>
  </div>
<% end %>