<p id="notice"><%= notice %></p>

<h1>Members</h1>

<%= button_to 'New Member', new_member_path, :method => 'get', :class => "btn btn-primary" %>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= button_to 'Show', member, :method => 'get' ,:class => "btn btn-success" %></td>
        <td><%= button_to 'Edit', edit_member_path(member), :method => 'get', :class => "btn btn-primary" %></td>
        <td><%= button_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>