<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @member.status ? 'Active' : 'Inactive' %>
</p>

<%= button_to 'Edit', edit_member_path(@member), :method => 'get', :class => "btn btn-primary" %>
<%= button_to 'Back', members_path, :method => 'get', :class => "btn btn-default" %>